#cardAccount {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#btn-delete {
  width: 100%;
  margin-top: 0.5rem;
}

#btn-edit {
  width: 100%;
  margin-top: 1rem;
}

.form-control:focus {
  border-color: #f7d664 !important;
  box-shadow: 0 0 0 0.25rem #f7d7644e !important;
}